  .book {
    margin-top: 0.5rem;
    text-align: justify;
  }

  .mainbook {
    display: flex;
    justify-content: space-between;
   
  }

  .mainbook a {
    margin-top: 1rem;
    margin-right: 2rem;
    text-decoration: none;
  }

  .footer {
    margin-top: 2rem;
    background-color: #120046;
    color: #fff;
    height: 3.8rem;
    font-size: 18px;
    text-align: center;
  }

  .footer-char{
    padding: 1rem 1rem;
    
  }

  .footer-char a {
    text-decoration: none;
    color: #fff;
  }
